h1 {
font-family: helvetica;
font-size: 25px;
}

p {
color: #262626;
font-size: 18px;
font-family: fantasy;
}

.more-content{
  background: #00FFFF;
  font-family: cursive;
}

#somthing-else{
  border: 5px inset #FF0000;
  background: #fc5f20;
  font-family: inherit;
}

body {
  background-color: #56d123;
}
